In [163]:
from sklearn.svm import SVC 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import math
import numpy as np

## 讀取資料

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
submit_data = pd.read_csv("gender_submission.csv")

In [4]:
train_data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
test_data.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [6]:
submit_data.head(2)

   PassengerId  Survived
0          892         0
1          893         1

## 看看資料的狀況

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [9]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

## 選取自己想要的特徵

In [11]:
selected_features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

In [12]:
X_train = train_data[selected_features]

In [13]:
Y_train = train_data['Survived']

In [14]:
X_test = test_data[selected_features]

## 資料處理

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.8+ KB

In [16]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        417 non-null float64
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 22.9+ KB

In [18]:
## 將缺失的年齡補齊。我認為家人數量相同的族群年齡會較相似
## 因此將SibSp分群，並分別算出平均年齡補入
SibSp = X_train.groupby("SibSp")
SibSp1 = X_test.groupby("SibSp")

In [19]:
for i in range(890):
    if math.isnan(X_train['Age'][i]):
        X_train["Age"][i] = SibSp.get_group(X_train["SibSp"][i])["Age"].mean()
        if X_train["SibSp"][i] == 8:
            X_train["Age"][i] = X_train["Age"].mean()

C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\LI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [20]:
for i in range(418):
    if math.isnan(X_test['Age'][i]):
        X_test["Age"][i] = SibSp1.get_group(X_test["SibSp"][i])["Age"].mean()
        if X_test["SibSp"][i] == 8:
            X_test["Age"][i] = X_test["Age"].mean()

C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\LI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [22]:
## 將訓練集的Embarked缺失值以最多的S補齊
## 將測試集的Fare缺失值以平均值補齊
X_train['Embarked'].fillna('S', inplace=True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

C:\Users\LI\Anaconda3\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [23]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.8+ KB

In [24]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        418 non-null float64
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 22.9+ KB

In [26]:
## 將字串轉為數字
labelencoder = LabelEncoder()
X_train["Sex"] = labelencoder.fit_transform(X_train["Sex"].values)
X_train["Embarked"] = labelencoder.fit_transform(X_train["Embarked"].values)
X_test["Sex"] = labelencoder.fit_transform(X_test["Sex"].values)
X_test["Embarked"] = labelencoder.fit_transform(X_test["Embarked"].values)

C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\LI\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [27]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [28]:
X_test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

## 機器學習

In [29]:
clf = SVC()
rfc = RandomForestClassifier(n_estimators = 100)

In [30]:
## 看一下準確度
cross_val_score(clf, X_train, Y_train, cv=10).mean()

0.7073101804562478

In [31]:
cross_val_score(rfc, X_train, Y_train, cv=10).mean()

0.8048524571558279

In [32]:
## 決定使用RandomForest，準確率較高
rfc.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
## 預測
survived_predict = rfc.predict(X_test)

## 深度學習

In [35]:
import keras

C:\Users\LI\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [153]:
## 建立模型
model = keras.models.Sequential()

In [154]:
model.add(keras.layers.Dense(40, input_dim=7, kernel_initializer = 'uniform', activation=('tanh')))

In [155]:
model.add(keras.layers.Dense(30, kernel_initializer = 'uniform', activation=('tanh')))

In [156]:
model.add(keras.layers.Dense(1, kernel_initializer = 'uniform', activation=('sigmoid')))

In [157]:
model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

In [158]:
## 訓練模型
model.fit(X_train, Y_train, validation_split=0.2, epochs=30)

Train on 712 samples, validate on 179 samples
Epoch 1/30
712/712 [==============================] - 2s 3ms/step - loss: 0.2363 - acc: 0.6390 - val_loss: 0.2091 - val_acc: 0.7039
Epoch 2/30
712/712 [==============================] - 0s 295us/step - loss: 0.2160 - acc: 0.6629 - val_loss: 0.1885 - val_acc: 0.7318
Epoch 3/30
712/712 [==============================] - 0s 235us/step - loss: 0.2108 - acc: 0.6699 - val_loss: 0.1831 - val_acc: 0.7207
Epoch 4/30
712/712 [==============================] - 0s 239us/step - loss: 0.2083 - acc: 0.6657 - val_loss: 0.1792 - val_acc: 0.7486
Epoch 5/30
712/712 [==============================] - 0s 239us/step - loss: 0.2047 - acc: 0.6840 - val_loss: 0.1735 - val_acc: 0.7542
Epoch 6/30
712/712 [==============================] - 0s 244us/step - loss: 0.2023 - acc: 0.6882 - val_loss: 0.1655 - val_acc: 0.7821
Epoch 7/30
712/712 [==============================] - 0s 239us/step - loss: 0.1950 - acc: 0.7107 - val_loss: 0.1635 - val_acc: 0.7877
Epoch 8/30
712/712 [==============================] - 0s 233us/step - loss: 0.1890 - acc: 0.7135 - val_loss: 0.1509 - val_acc: 0.7709
Epoch 9/30
712/712 [==============================] - 0s 235us/step - loss: 0.1812 - acc: 0.7303 - val_loss: 0.1556 - val_acc: 0.7654
Epoch 10/30
712/712 [==============================] - 0s 239us/step - loss: 0.1729 - acc: 0.7486 - val_loss: 0.1379 - val_acc: 0.8101
Epoch 11/30
712/712 [==============================] - 0s 237us/step - loss: 0.1629 - acc: 0.7851 - val_loss: 0.1306 - val_acc: 0.8212
Epoch 12/30
712/712 [==============================] - 0s 242us/step - loss: 0.1563 - acc: 0.7865 - val_loss: 0.1366 - val_acc: 0.8212
Epoch 13/30
712/712 [==============================] - 0s 265us/step - loss: 0.1585 - acc: 0.7767 - val_loss: 0.1310 - val_acc: 0.7933
Epoch 14/30
712/712 [==============================] - 0s 242us/step - loss: 0.1578 - acc: 0.7767 - val_loss: 0.1293 - val_acc: 0.8492
Epoch 15/30
712/712 [==============================] - 0s 243us/step - loss: 0.1534 - acc: 0.7851 - val_loss: 0.1278 - val_acc: 0.8268
Epoch 16/30
712/712 [==============================] - 0s 221us/step - loss: 0.1492 - acc: 0.7893 - val_loss: 0.1374 - val_acc: 0.7933
Epoch 17/30
712/712 [==============================] - 0s 229us/step - loss: 0.1562 - acc: 0.7711 - val_loss: 0.1306 - val_acc: 0.8045
Epoch 18/30
712/712 [==============================] - 0s 226us/step - loss: 0.1543 - acc: 0.7865 - val_loss: 0.1250 - val_acc: 0.8268
Epoch 19/30
712/712 [==============================] - 0s 229us/step - loss: 0.1531 - acc: 0.7893 - val_loss: 0.1274 - val_acc: 0.8045
Epoch 20/30
712/712 [==============================] - 0s 225us/step - loss: 0.1512 - acc: 0.7879 - val_loss: 0.1275 - val_acc: 0.8268
Epoch 21/30
712/712 [==============================] - 0s 235us/step - loss: 0.1491 - acc: 0.7921 - val_loss: 0.1281 - val_acc: 0.8380
Epoch 22/30
712/712 [==============================] - 0s 235us/step - loss: 0.1486 - acc: 0.7935 - val_loss: 0.1280 - val_acc: 0.8156
Epoch 23/30
712/712 [==============================] - 0s 221us/step - loss: 0.1485 - acc: 0.7921 - val_loss: 0.1254 - val_acc: 0.8380
Epoch 24/30
712/712 [==============================] - 0s 243us/step - loss: 0.1548 - acc: 0.7879 - val_loss: 0.1353 - val_acc: 0.8268
Epoch 25/30
712/712 [==============================] - 0s 228us/step - loss: 0.1515 - acc: 0.7921 - val_loss: 0.1259 - val_acc: 0.8436
Epoch 26/30
712/712 [==============================] - 0s 233us/step - loss: 0.1507 - acc: 0.7865 - val_loss: 0.1277 - val_acc: 0.8268
Epoch 27/30
712/712 [==============================] - 0s 225us/step - loss: 0.1516 - acc: 0.7809 - val_loss: 0.1296 - val_acc: 0.8380
Epoch 28/30
712/712 [==============================] - 0s 218us/step - loss: 0.1602 - acc: 0.7809 - val_loss: 0.1254 - val_acc: 0.8436
Epoch 29/30
712/712 [==============================] - 0s 228us/step - loss: 0.1493 - acc: 0.7935 - val_loss: 0.1248 - val_acc: 0.8436
Epoch 30/30
712/712 [==============================] - 0s 229us/step - loss: 0.1543 - acc: 0.7809 - val_loss: 0.1291 - val_acc: 0.8324

In [159]:
## 測試模型
acc = model.evaluate(X_train, Y_train)
acc

891/891 [==============================] - 0s 150us/step

[0.144780003019388, 0.803591470458826]

In [162]:
## 預測模型
survived_predict_keras = model.predict(X_test)

In [168]:
survived_ad_predict_keras = np.where(survived_predict_keras > 0.5 , 1 ,0)

In [169]:
## 轉成1維
survived_adad_predict_keras = survived_ad_predict_keras.flatten()

In [170]:
survived_adad_predict_keras

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [173]:
## 將結果輸出成規定的格式
submission = pd.DataFrame({'PassengerId':test_data['PassengerId'], 'Survived':survived_adad_predict_keras})
submission.to_csv('submission.csv', index=False)